.menu__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $black;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  display: none;
  opacity: 0;
}

.menu--close {
  position: fixed;
  right: 4rem;
  top: 4rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: none;
  opacity: 0;
  z-index: 2;
  &:hover {
    opacity: 0.5 !important;
  }
}

.menu--close__line {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 3rem;
  height: 0.2rem;
  transform: rotate(45deg);
  background-color: $black;
  opacity: 0.5;
  z-index: 999;
  &:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

// ---> All Stories
.allstories {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 0rem 15rem;
  flex-direction: column;
  overflow-y: scroll;
  z-index: 1;
  display: none;
  &::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

.allstories__item {
  display: flex;
  gap: 7rem;
  min-height: 10rem;
  width: 100%;
  align-items: center;
  position: relative;
  padding: 0 4rem;
  box-sizing: border-box;
  cursor: pointer;
  &:first-child {
    margin-top: 20rem;
  }
  &:last-child {
    margin-bottom: 20rem;
  }
  &:hover {
    background-color: $black;
    .allstories__item__number {
      color: $white;
    }
    .allstories__item__title {
      color: $white;
    }
  }
}

.allstories__item__hr {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.1rem;
  width: 100%;
  background-color: $black;
  opacity: 0.25;
}

.allstories__item__number {
  font-size: 1.4rem;
  font-family: 'work_sansmedium';
  color: $black;
}

.allstories__item__title {
  font-size: 4.5rem;
  font-family: 'attack_typeregular';
  color: $black;
}

// ---> About
.about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  flex-direction: column;
  overflow-y: scroll;
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  gap: 5rem;
  margin-bottom: 20rem;
  &::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

.about__hr {
  width: 52%;
  min-height: 0.1rem;
  background-color: $white;
  opacity: 0.25;
  margin: 10rem 0;
}

.about__text {
  font-family: 'work_sansregular';
  font-size: 1.4rem;
  line-height: 2rem;
  width: 30%;
  color: $white;
  margin-top: 30rem;
}

.about__title {
  font-size: 4.5rem;
  font-family: 'attack_typeregular';
  color: $white;
  margin-bottom: 10rem;
}

.about__image {
  width: 100%;
  &:last-child {
    margin-bottom: 20rem;
  }
}

.about__description {
  width: 52%;
  display: flex;
  position: relative;
  min-height: 30rem;
  flex-direction: column;
  align-items: center;
}

.about__description__container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  margin-bottom: 2rem;
}

.about__description__number {
  font-family: 'work_sansregular';
  font-size: 1.4rem;
  line-height: 2rem;
  color: $white;
  opacity: 0.5;
  margin-bottom: 1rem;
}

.about__description__body {
  font-family: 'work_sansregular';
  font-size: 1.4rem;
  line-height: 2rem;
  color: $white;
}

.about__arrow {
  width: 0.1rem;
  height: 75%;
  background-color: $white;
  position: relative;
}

.about__arrow--end {
  width: 0.1rem;
  height: 2rem;
  background-color: $white;
  position: absolute;
  bottom: 0.4rem;
  &:nth-child(1) {
    transform: rotate(45deg) translateX(1rem);
  }
  &:nth-child(2) {
    transform: rotate(-45deg) translateX(-1rem);
  }
}
