@font-face {
  font-family: 'work_sansmedium';
  src: url('../fonts/worksans-medium-webfont.woff2') format('woff2'), url('../fonts/worksans-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'work_sansregular';
  src: url('../fonts/worksans-regular-webfont.woff2') format('woff2'), url('../fonts/worksans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'attack_typemedium';
  src: url('../fonts/attacktype-medium-webfont.woff2') format('woff2'), url('../fonts/attacktype-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'attack_typeregular';
  src: url('../fonts/attacktype-regular-webfont.woff2') format('woff2'), url('../fonts/attacktype-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//

[data-type='attack'] {
  font-family: 'attack_typeregular';
}
