.ui {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

// Intro

.ui__intro {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.ui__intro__container {
  z-index: 9999;
}

.ui__intro__title {
  font-size: 3.7rem;
  font-family: 'work_sansregular';
  color: $white;
  display: none;
  gap: calc(3.7rem / 7);
  span {
    display: inline-flex;
    // overflow: hidden;
    align-items: baseline;
    span {
      display: inline-block;
    }
  }
}

.ui__intro__symbol {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
  &--line {
    width: 0.15rem;
    height: 6.9rem;
    background-color: $white;
  }
  &--circle {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: $white;
    margin-top: -5.5rem;
  }
}

.ui__intro--btn {
  @include button_new($white);
  visibility: hidden;
  margin-top: 10rem;
}

// Top

.ui__top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.5rem;
  padding: 0 2.4rem;
  box-sizing: border-box;
  z-index: 2;
  span {
    font-family: 'work_sansmedium';
    font-size: 1.4rem;
    color: $white;
    cursor: pointer;
    &:hover {
      opacity: 0.5 !important;
    }
  }
}

// Bottom

.ui__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.4rem;
  box-sizing: border-box;
  z-index: 2;
  span {
    color: $white;
    cursor: pointer;
    &:hover {
      opacity: 0.75 !important;
    }
  }
}

// Intro Text
.ui__intro__text__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ui__intro__text {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 100vw;
  text-align: center;
  font-family: 'work_sansregular';
  font-size: 2rem;
  color: $white;
  span {
    span {
      opacity: 0;
      display: inline-block;
    }
  }
}

.ui__intro__text--1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.ui__intro__text--icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 125%);
  color: $white;
  opacity: 0;
  span {
    font-size: 2.5rem;
    animation: mouse 4s cubic-bezier(0.83, 0, 0.17, 1) infinite;
  }
}

@keyframes mouse {
  0% {
    transform: translateX(-3rem) rotate(-5deg);
  }

  50% {
    transform: translateX(3rem) rotate(5deg);
  }

  100% {
    transform: translateX(-3rem) rotate(-5deg);
  }
}

// Read

.ui__read {
  position: absolute;
  bottom: 12rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  display: none;
}

.ui__read--btn {
  @include button_new($white);
  opacity: 0;
}

.ui__read__revealed {
  position: absolute;
  bottom: 12rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  display: none;
}

.ui__read__revealed--btn {
  @include button_new($white);
  opacity: 0;
}

.ui__read--continue {
  font-size: 1.4rem;
  color: $white;
  font-family: 'work_sansmedium';
  text-align: center;
  width: 100%;
  margin-top: 6rem;
  padding: 1rem;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 0;
  &:hover {
    opacity: 0.75 !important;
  }
}

// Story

.ui__story--container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 0rem 29rem;
  box-sizing: border-box;
  overflow-y: scroll;
  display: none;
  &::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

.ui__story {
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui__story--close {
  position: fixed;
  right: 4rem;
  top: 4rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  &:hover {
    opacity: 0.5 !important;
  }
}

.ui__story--close__line {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 3rem;
  height: 0.2rem;
  transform: rotate(45deg);
  background-color: $black;
  opacity: 0.5;
  &:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.ui__story--number {
  font-family: 'work_sansregular';
  font-size: 1.8rem;
  opacity: 0.5;
  align-self: baseline;
  margin-top: 24rem;
}

.ui__story--title {
  font-family: 'attack_typeregular';
  font-size: 6rem;
  margin-top: 3rem;
  // width: 50%;
  align-self: baseline;
  span {
    display: inline-block;
    span {
      opacity: 0;
      display: inline-block;
    }
  }
}

.ui__story--body {
  font-family: 'work_sansregular';
  font-size: 1.4rem;
  margin-top: 10rem;
  line-height: 2.5rem;
  width: 50%;
  margin-left: 50%;
}

.ui__story--btn {
  margin-top: 15rem !important;
  margin-bottom: 15rem;
  @include button_new($black);
}

// Sidebar
.ui__sidebar {
  position: absolute;
  left: 3rem;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  width: 0.2rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.ui__sidebar--item {
  width: 100%;
  height: 100%;
  display: block;
  background-color: $white;
  opacity: 0.25;
  transition: 0.75s;
}

.ui__sidebar--progress {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: $white;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

//

[data-reveal='ui'] {
  opacity: 0;
}

// LOADING

.lds-ring {
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 1px;
  border: 1px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
