video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  mix-blend-mode: screen;
  pointer-events: none;
  .clouds,
  .clouds__transition {
    mix-blend-mode: screen;
  }
}

.video__clouds {
  opacity: 0; // 0.75
}

.video__clouds--transition {
  transform: translate(-50%, -50%) rotate(45deg);
  scale: 2;
  opacity: 0.85;
}
